/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/*----------HEADINGS----------- */
h1,
h2,
h3 {
  font-weight: 300;
  color: #fff;
}

/* h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
} */


/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://cdn.glitch.com/4bd9d794-bda3-41f7-9310-103f87124753%2FmovieBackground.jpg?v=1624541874814);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.motto {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  float: left;
  list-style: none;
  margin-top: 55px;
  margin-right: 20px;
  font-size: 90%;
  color: #fff;
  text-transform: uppercase;
  /* background-color: red; */
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  /* background-color: aqua; */
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  /* background-color: red; */
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

